﻿@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

    @*loading*@
    <style type="text/css">
        .loader {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10000000;
            width: 100%;
            height: 100%;
            min-height: 100%;
            background: #000;
            opacity: 0.8;
            text-align: center;
            color: #fff;
        }
        .loader-anim {
            /*position: absolute;*/
            /*margin: auto;*/
            position: absolute;
            left: 50%;
            top: 50%;
            /*align-items: center;
            justify-content: center;
            display: block;*/
            /*left: 50%;
            top: 50%;*/
            z-index: 10000001;
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 87px;
            height: 87px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
            margin: -50px 0px 0px -50px;
        }

        /* Safari */
        @@-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @@keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
    
</head>

<body>
    <div class="loader">
        <div class="loader-anim"></div>
    </div>

    <div class="container-fluid">
        <h1>Display Google maps</h1>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Get Location
        </button>

        @*<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" data-lat='10.85' data-lng='106.62'>
                Location 2
            </button>*@
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @*<h4 class="modal-title" id="myModalLabel">Modal title</h4>*@
                </div>
                <div class="modal-body">
                    @*<div class="row">
                            <div class="col-md-12 modal_body_content">
                                <p>Some contents...</p>
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-md-12 modal_body_map">
                            <div class="location-map" id="location-map">
                                <div style="width: 600px; height: 400px;" id="map_canvas"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 modal_body_end">
                            <label id="label-text"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyC9dd0JeSfrvx94lo-dWqDPMyZ3_TFMwS8"></script>
    @*<script src="//maps.googleapis.com/maps/api/js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    @*<script src="script.js"></script>*@
</body>

</html>

<script>
 // Code goes here
$(document).ready(function () {
    var map = null;
    var myMarker;
    var myLatlng;

    function initializeGMap(lat, lng) {
        myLatlng = new google.maps.LatLng(lat, lng);

        var myOptions = {
            zoom: 12,
            zoomControl: true,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        myMarker = new google.maps.Marker({
            position: myLatlng
        });
        myMarker.setMap(map);
    }

    // Re-init map before show modal
    $('#myModal').on('show.bs.modal', function (event) {
        //var button = $(event.relatedTarget);
        if (navigator.geolocation) {
            startTimeout();
            startGetLocation();
        } else {
            alert("Sorry, browser does not support geolocation!");
        }
        //initializeGMap(button.data('lat'), button.data('lng'));
        $("#location-map").css("width", "100%");
        $("#map_canvas").css("width", "100%");
    });

    // Trigger map resize event after modal shown
    $('#myModal').on('shown.bs.modal', function () {
        google.maps.event.trigger(map, "resize");
        map.setCenter(myLatlng);
    });

    //for get location
    var MAX_ACCURACY = 20;  // meter
    var MAX_TIMEOUT = 30000; // miliseconds

    var id, options, timeout;

    options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    function success(pos) {
        if (pos.coords.accuracy < MAX_ACCURACY) {


            alert('Congratulations, you reached the target');
            stopGetLocation();
        }

        initializeGMap(pos.coords.latitude, pos.coords.longitude);
        $('#label-text').text('lat: ' + pos.coords.latitude + ', long: ' + pos.coords.longitude + ', acc: ' + pos.coords.accuracy);
        console.log(pos); 
    }

    function error(err) {
        console.log('ERROR(' + err.code + '): ' + err.message);
    }

    function alertFunc() {
        stopLoader();
        alert("Fail to get location");
        navigator.geolocation.clearWatch(id);
    }

    function startGetLocation() {
        startLoader();
        id = navigator.geolocation.watchPosition(success, error, options);
    }

    function stopGetLocation() {
        stopLoader();
        navigator.geolocation.clearWatch(id);
        stopTimeout();
    }

    function startTimeout() {
        timeout = setTimeout(alertFunc, MAX_TIMEOUT);
    }

    function stopTimeout() {
        clearTimeout(timeout);
    }

    function startLoader() {
        $(".loader").show();
    }

    function stopLoader() {
        $(".loader").hide();
    }

});
</script>